/* styles.css */

/* Definir la animación de fade-in */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Aplicar la animación a los elementos */
.fade-in {
  animation: fadeIn 2s ease-in-out; /* Duración y tipo de animación */
}
